
@import url('https://fonts.googleapis.com/css?family=Asap');
@font-face {font-family: "Bebas Neue";
    src: url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.eot");
    src: url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a56d28015e6f2ee588370d0c394da291.svg#Bebas Neue") format("svg");
}

.row{
    width: 95rem;
}


html, body {
    font-family: Asap;
    font-size: 13px;
    line-height: 25px;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
p{
    font-size: 1.5rem;
}

.parallax-background {
     background: url(../assets/img/logofinal.svg) center center no-repeat;
     height: 100vh;
     background-attachment: fixed;
     background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: contain;
     width: 100%;
 }
li{
    font-size: 20px;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}

.page-content {
    display: flex;
    background-color: white;
    -webkit-box-shadow: 0px 0px 34px 14px rgba(234,234,234,1);
    -moz-box-shadow: 0px 0px 34px 14px rgba(234,234,234,1);
    box-shadow: 0px 0px 34px 14px rgba(234,234,234,1);
}

.wrapper {
    align-items: center;
    background-color: white;
}

.wrapper-dark {
    align-items: center;
    background-color: black;
    color: white;
}
.wrapper-inner {
    overflow: hidden;
    display: flex;
    flex-wrap: none;
    background-color: black;
    padding: 10em 2em;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.wrapper-inner-dark {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: none;
    padding: 10em 2em;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.fb__1_2 {
    align-self: center;
    padding: 0 1.5em;
    flex-grow: 1;
}
.fb__1_3 {
    align-self: center;
    padding: 0 1.5em;
    flex-grow: 1;
    min-width: 280px;
}
.fb__1_4 {
    align-self: center;
    padding: 0 1.5em;
    flex-grow: 2;
    flex-shrink: 1;
}

.subhead {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin: 30px 0;
    margin-bottom: 0px;
    z-index: 0;
}

.subhead span {
    background-color: black;
    padding-right: 10px;
}

.subhead-dark {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin: 30px 0;
    margin-bottom: 0px;
    z-index: 0;
}

.subhead-dark span {
    background-color: white;
    padding-right: 10px;
}

.subhead span.dark {
    background-color: white;
    padding-right: 10px;
}

.subhead:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.9em;
    border-top: 1px solid white;
    z-index: -1;
}
.subhead-dark:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.9em;
    border-top: 1px solid black;
    z-index: -1;
}
.flex-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.flex-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headline {
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 40px;
    line-height: 40px;
}
.headline-red {
    color: red;
}

.button{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
    display: inline-block;
}

.button-dark {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
    display: inline-block;
}

.button:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: width .5s ease;
}

.button-dark:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: width .5s ease;
}

.button:hover:after {
    width: 100%;
    background: white;
}

.button-dark:hover:after {
    width: 100%;
    background: black;
}
i {
    font-size: 2.5rem; }

.icon-button {
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: white; }
.icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
.icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
.icon-button i {
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; }

.twitter span {
    background-color: #4099ff; }

.facebook span {
    background-color: #3B5998; }

.youtube span {
    background-color: #E9CE2C; }

.mail span {
    background-color: #E5F993; }

.icon-button .fi-social-twitter {
    color: #4099ff; }

.icon-button .fi-social-facebook {
    color: #3b5998; }

.icon-button .fi-social-youtube {
    color: #db5a3c; }

.icon-button .fi-mail {
    color: #69A197; }

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-youtube  {
    color: white;
    font-size: 2.6rem;
    line-height: 3.9rem; }

@media (max-width: 500px){
    .parallax-background{
        background: url(../assets/img/rmm-375x400.png)center center no-repeat;
    }
    .fb__1_2{
        padding: 0;
    }
    .fb__1_3{
        flex-grow: 2;
        min-width: 100px;
    }

}

@media screen and (min-width: 750px){

}

@media screen and (min-width: 1020px){

}